<h3>Active players</h3>
<mat-list>
  <mat-list-item *ngFor="let player of activePlayers">
    {{ player.name }}
  </mat-list-item>
  <button mat-stroked-button routerLink="/players">Edit players</button>
</mat-list>

<h3>Number of Tables</h3>

<div class="counter">
  <button mat-stroked-button class="increment-button" [disabled]="numberOfTables.value<=1" (click)="changeNumberOfTables(-1)">-</button
  >{{ numberOfTables.value
  }}<button mat-stroked-button class="increment-button" [disabled]="numberOfTables.plusDisabled" (click)="changeNumberOfTables(+1)">+</button>
</div>

<h3>Maximum Number of Players per Team</h3>

<div class="counter">
  <button mat-stroked-button class="increment-button" [disabled]="maxNumberPerTeam.value<=1" (click)="changeNumberPerTable(-1)">-</button
  >{{ maxNumberPerTeam.value
  }}<button mat-stroked-button class="increment-button" [disabled]="maxNumberPerTeam.plusDisabled" (click)="changeNumberPerTable(+1)">+</button>
</div>

<button mat-raised-button (click)="startRound()">Start Round</button>
