<mat-toolbar>
  <span>Team app</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="settings" [matMenuTriggerFor]="menu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="activeRound$ | async as activeRound" (click)="openReorderTeamsModal(activeRound)">
      <mat-icon>swap_horiz</mat-icon>
      <span>Swap players</span>
    </button>
    <button mat-menu-item (click)="deleteLastRound()">
      <mat-icon>delete</mat-icon>
      <span>Delete Current Active Round</span>
    </button>
    <button mat-menu-item (click)="deleteAllRounds()">
      <mat-icon>delete_forever</mat-icon>
      <span>Delete All Rounds</span>
    </button>
  </mat-menu>
</mat-toolbar>
<nav mat-tab-nav-bar [backgroundColor]="'accent'" [tabPanel]="tabPanel">
  <a
    mat-tab-link
    [routerLink]="link.address"
    (click)="activeLink = link.address"
    [active]="activeLink == link.address"
    *ngFor="let link of links"
    >{{ link.title }}</a
  >
</nav>
<mat-tab-nav-panel #tabPanel>
  <div class="current-page-wrapper">
    <router-outlet></router-outlet>
    <!-- <br/> + &nbsp; prevents content from overflowing behind the menu. -->
    <br /><br />&nbsp;
  </div></mat-tab-nav-panel
>
