<mat-form-field class="input">
  <mat-label>Name</mat-label>
  <input #nameInput matInput (keydown.enter)="addPlayer(nameInput)"/>
</mat-form-field>

<button mat-raised-button color="primary" [disabled]="!nameInput.value" (click)="addPlayer(nameInput)">
  Add player
</button>
<br/>
<br/>
<div class="section" *ngIf="players$ | async as players" cdkDropListGroup>
  <h2>Active users</h2>
  <mat-list cdkDropList [cdkDropListData]="players.active" (cdkDropListDropped)="drop($event)">
    <mat-list-item *ngFor="let player of players.active; trackBy: trackById" class="item" cdkDrag>
      <h3>{{ player.name }}</h3>
      <button aria-label="Delete player" mat-icon-button (click)="deletePlayer(player)" matListItemMeta>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>

  <div>
    <mat-card *ngIf="!players.active.length">
      <mat-card-content>Drag & drop players here to make them active</mat-card-content>
    </mat-card>
  </div>

  <h2>Inactive users</h2>
  <mat-list cdkDropList [cdkDropListData]="players.inactive" (cdkDropListDropped)="drop($event)">
    <mat-list-item *ngFor="let inactivePlayer of players.inactive; trackBy: trackById" class="item" cdkDrag>
      <h3 matListItemTitle>{{ inactivePlayer.name }}</h3>
      <button aria-label="Delete player" mat-icon-button (click)="deletePlayer(inactivePlayer)" matListItemMeta>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>

  <div class="min-height-message">
    <mat-card *ngIf="!players.inactive.length">
      <mat-card-content>Drag & drop players here to make them inactive</mat-card-content>
    </mat-card>
  </div>
</div>
