<mat-form-field class="example-full-width">
  <mat-label>Name</mat-label>
  <input #nameInput matInput (keydown.enter)="addPlayer(nameInput)" />
</mat-form-field>

<button
  mat-raised-button
  color="primary"
  [disabled]="!nameInput.value"
  (click)="addPlayer(nameInput)"
>
  Add player
</button>

<h3>Active users</h3>
<mat-list>
  <mat-list-item
    class="item"
    *ngFor="let player of activePlayers$ | async; trackBy: trackById"
    (click)="toggleActivness(player)"
  >
    <button
      aria-label="Delete player"
      mat-icon-button
      (click)="deletePlayer(player)"
      matListItemMeta
    >
      <mat-icon>delete</mat-icon>
    </button>
    <p>{{ player.name }}</p>
  </mat-list-item>
</mat-list>
<h3>Inactive users</h3>
<mat-list>
  <mat-list-item
    class="item"
    *ngFor="let player of inactivePlayers$ | async; trackBy: trackById"
    (click)="toggleActivness(player)"
  >
    <button
      aria-label="Delete player"
      mat-icon-button
      (click)="deletePlayer(player)"
      matListItemMeta
    >
      <mat-icon>delete</mat-icon>
    </button>
    <p>{{ player.name }}</p>
  </mat-list-item>
</mat-list>
